@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  background-color: #021516;
  color: white;
}

@font-face {
  font-family: 'BlackChancery';
  src: url('/fonts/BLKCHCRY.woff2') format('woff2'),
       url('/fonts/BLKCHCRY.woff') format('woff'),
       url('/fonts/BLKCHCRY.TTF') format('truetype'); /* Fallback */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Harry P';
  src: url('/fonts/HarryP.woff2') format('woff2'),
       url('/fonts/HarryP.woff') format('woff'),
       url('/fonts/HarryP.ttf') format('truetype'); /* Fallback */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-harry: 'Harry P', serif;
  --font-wizard: 'BlackChancery', serif;
}

::selection {
  background: #FFD700;
  -webkit-text-fill-color: #000;
  text-shadow: none;
}
::-moz-selection {
  background: #FFB702;
  -webkit-text-fill-color: black;
  color: black;
}